* {
    font-family: poppins, sans-serif;
}

body {
    background: #f3fbfa;
    color: #6a1a21;
}

header {
    /*height: 50px;*/
    background: #6a1a21;
    opacity: 0.7;
}

a {
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    color: inherit;
}

a:link {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    padding-bottom: 1.5em;
    font-family: 'Cormorant Infant', serif;
}

.main-frame {
    background: #f5f5f5;
    max-width: 1400px;
    padding-top: 88px;
    /*overflow-x: hidden;*/
}

.logo {
    margin: auto;
    width: 235px;
    height: 88px;
}

.logo a {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #b3767b;
}

.logo:after {
    content: "";
    display: block;
    height: 3px;
    background: #b3767b;
    transform: scale(0);
    transition: 0.5s;
}

.logo:hover:after {
    transform: scale(1);
    transition: 0.7s;
}

section {
    padding-bottom: 5em;
    padding-top: 5em;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    /*margin: auto;*/
    justify-content: center;
}

article {
    padding-bottom: 3em;
}

.slider-catalog {
    justify-content: center;
    /* background: #daf2f5; */
    /*box-shadow: 0 5px 10px 15px #daf2f5;*/
}

/* .catalog-box {
    
} */

.swiper-catalog {
    width: 90%;
    height: auto;
}

.catalog-arrow {
    position: relative;
    float: left;
    left: auto;
    right: auto;
}

.swiper-button-next {
    float: right;
}

.catalog-item {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 5%;
}

.catalog-item img {
    height: 100%;
    width: 100%;
}

.scl {
    color: #6a1a21;
    height: 50%;
    background: #daf2f5;
    opacity: 0.6;
    transition: 0.3s;
}

.catalog-item:hover>div {
    margin-top: -50%;
    transition: 0.5s;
}

.swiper-reviews {
    height: 400px;
    /*width: 90%;*/
}

.swiper-reviews-slide {
    color: #6a1a21;
    font-size: 30px;
    background: #daf2f5;
    border-radius: 5%;
}
.reviews-title {
    width: 100%;
    height: 60px;
    display: flex;
}
.reviews-photo {
    height: 50px;
    width: 50px;
    background: chartreuse;
    border-radius: 50%;
}
.reviews-name {
    width: 50%;
}
.description-bot {
    justify-content: space-evenly;
}

footer {
    height: 80px;
    background: #6a1a21;
}